<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Prisão Fox River</title>
    <link rel="stylesheet" href="../static/css/listarPresosVisitantes.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&display=swap');
    </style>
</head>
<body>
<nav>
    <a href="../index.html">Página inicial</a>
    <a></a>
</nav>

<div id="main-content" class="main-content">

<div class="searchBox">
    <input type="text" id="nomeSearch" placeholder="Digite o nome do prisioneiro Aqui">
</div>
<!-- 
<div class="content">
    <p id="nome">Nome</p>
    <p id="data-nascimento">Data de Nascimento</p>
    <div class="content-data">
        <p id="pena">Pena</p>
        <p id="data-entrada">Data de entrada</p>
    </div>
</div>


<div id="errorBox" class="error">
    <p id="error">Não há Prisioneiros com esse nome</p>
</div>

-->
</div>

<script src="../static/js/index.js"></script>
</body>
</html>
