<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Prisão Fox River</title>
    <link rel="stylesheet" href="../static/css/listarPresosVisitantes.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&display=swap');
    </style>
</head>
<body>
<nav>
    <a href="menuAdmin.html">Menu Admin</a>
    <a href="cadastrarPreso.html">Cadastrar Preso</a>
</nav>
<div class="main-title">
    <h1>Presos</h1>
</div>
<div id="main-content" class="main-content">


<!--
<div class="content">
    <input type="text" id="id" hidden>
    <p id="nome">Nome</p>
    <p id="data-nascimento">Data de Nascimento</p>
    <div class="content-data">
        <p id="pena">Pena</p>
        <p id="data-entrada">Data de entrada</p>
        <p id="cela">Cela: <p>
    </div>
    <div class="buttons">
        <button id="update" onclick="Atualizar()">Atualizar</button> 
        <button id="delete" onclick="deletar()">Deletar</button>
    </div>
    
</div>


<div id="errorBox" class="error">
    <p id="error">Não há Prisioneiros com esse nome</p>
</div>
-->
</div>
<script src="../static/js/listarPreso.js"></script>
</body>
</html>
